/* RESET */

* {
    margin:0;
    padding: 0;
    border: 0;
}

nav {
    width: 100%;
    height: 150px;
    background-color: white;
}

main {
    width: 100%;
    height: 1000px;
    background-color: white;
    margin: auto;
}

.button-container {
    width: 15%;
    outline: 1px solid transparent;
    margin: auto;
}

.button-container a {
    padding: 4%;
    background-color: rgb(0,121,159);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
   
}

body {
    background-color:white;
    color:rgb(57,30,10);
    font-family: "interstate-condensed", sans-serif;
font-weight: 700;
font-style: normal;
}

.wrapper {
    width: 85%;
    margin: auto;
    outline: 1px solid white;
}

#mainnav {
    width: 40%;
    position: relative;
    left: 40%;
    padding-top: 5%;
}

nav ul li{
    color:rgb(57,30,10);
    font-size: 20px;
    list-style-type: none;
    float: left;
}
nav ul li a{
    color:rgb(57,30,10);
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border: 10px;
    position: relative;
    top:10px; left:510px;
}
nav ul li a:hover{
   color:rgb(0,121,159);
}
#head {
    position: relative;
    bottom:20px; left: 40%;
}
#introduction {
    width: 80%;
    position:relative;
    left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;

}

#button-container {
    color: rgb(0,121,159);
    text-align: center;  
    border: 7px rgb(0,121,159); 
    padding-top: 2%;
    padding-bottom: 2%;
    position:relative;
    right: 3%;
}

#projectsnavigation {
    list-style-type: none;
    float: left;
    padding-top: 5%;
    padding-bottom: 2%;
    width: 100%;
    position: relative;
    left: 19%;


}
#projectsnavigation:hover{
    color:rgb(0,121,159);
 }

.li {
padding-left: 20%;
padding-right: 50%;
}
#Articles {
    padding-top: 22%;
    padding-bottom: 2%;
    position:relative;
    width: 100%;
    left: 44%;
}
#articlecontent {
    width: 80%;
    position:relative;
    left: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#uno {
    margin: 1px 30px;
    position: relative;
    bottom: 35px;
}

#due {
     margin: 1px 30px; 
     position: relative;
     left: 6%;

}

#tre {
    margin: 1px 200px;
    position: relative;
    bottom: 11px;
}

#image1 {
    position:relative;
    right: 540px; bottom: 5px;
}
#image2 {
    position:relative;
    right: 530px; bottom: 17px;
}
#image3 {
    position: relative;
    right: 515px;
    bottom: 7px;
}
#date {
    position: absolute;
    top:900px; right: 100px;
}
#contact {
    position: relative;
    top: 180px;
}
#myphoto {
    position: relative;
    top: 50px; left: 100px;
}
#aboutme {
    position: relative;
    bottom: 140px; left: 350px;
} 

/* FORM */

form {
    width: 80%;
    position:relative;
    left: 27%;
    padding-top: 5%;
    padding-bottom: 5%;
}

input[type=text] {
    border: 1px solid rgb(0,121,159);
    border-radius: 4px;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(0,121,159);
    border: none;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    position: relative;
    left: 22%;
  }
  